.menu-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    float: left;
    font-family: 'Literata';
    font-size: 20px;
    
}

.menu-item a {
    display: block;
    color: black;   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item img {
    height: 30px; /* Defina a altura desejada para o ícone */
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.font{

    font-family: 'Literata';font-size: 22px;
}

.navbar {
    background-color: white; /* Define a cor de fundo do menu como branco */
    position: fixed;
    width: 100%;
    top: 0;
     box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1); 
}

.menu-item img {
    height: 60px; /* Aumente a altura da imagem */
    margin-right: 40px; /* Aumente o espaço entre a imagem e o texto */
    margin-left: 40px;
}


        .nav-item {
            margin-right: 30px; /* Adicione espaço entre as opções do menu */
        }
